@charset "UTF-8";
/* CSS Document */


/*image settings*/

.social-media{
	border-radius:45px;
	margin:5px;
}
.headshot{
	border-radius:250px;
}
.portimg {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.portimg:hover{
  -webkit-filter:grayscale(0);
  filter: grayscale(0);  
}


/*typographic settings*/

.panel p{
	position:relative;
	top:-30px;
	left:30px;
	visibility:hidden;
}
.panel:hover p{
	visibility:visible;
}
