@charset "UTF-8";
/* CSS Document */

.social-media{
	border-radius:45px;
	margin:5px;
}

.headshot{
	border-radius:250px;
}

.vertical-line{
	border-left:2px solid #000000;
}

.portimg {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.portimg:hover{
  -webkit-filter:grayscale(0);
  filter: grayscale(0);
  
}


.panel p{
	position:relative;
	top:-30px;
	left:30px;
	visibility:hidden;
}

.panel:hover p{
	visibility:visible;
}